<div class="wrapper bg-white">
  <div class="text-center font-weight-bold">Contractor Quote Form</div>

  <form #clientForm="ngForm">
    <div class="form-group">
      <label class="font-weight-bold">Date:</label>
       <input type="date" class="form-control" [(ngModel)]="date" name="date" ngModel>
     </div><br><br>
    <h2>Client Information</h2><br>
    <div class="form-group">
       <label class="font-weight-bold">Client Name:</label>
       <input type="text" class="form-control" placeholder="first name" [(ngModel)]="firstName" name="name" #name ngModel required><br>
       <input type="text" class="form-control" placeholder="last name"[(ngModel)]="lastName" name="last" #lastname ngModel required> </div><br><br>

    <div class="form-group">
      <label class="font-weight-bold">Company Name:</label>
      <select class="custom-select" [(ngModel)]="company" name="company"  ngModel required>
        <option  selected class="form-control">Nothing Selected</option>
        <option *ngFor="let selest of selects"> {{ selects }}</option>
      </select>
     </div><br>



    <div class="form-group">
      <label class="font-weight-bold">Address:</label>
      <input type="address" class="form-control" placeholder="street address" [(ngModel)]="ads" name="address" ngModel required> </div>

    <div class="form-group">
      <label class="font-weight-bold">City:</label>
       <input type="city" class="form-control" [(ngModel)]="city" name="city" ngModel required> </div>
    <div class="form-group">
      <label class="font-weight-bold">State:</label>
      <input type="state" class="form-control" name="state" [(ngModel)]="city" ngModel required> </div>

    <div class="form-group">
      <label class="font-weight-bold">Zip Code:</label>
      <input type="zipe" class="form-control" name="zipe" [(ngModel)]="zipe" ngModel required> </div><br><br>

    <div class="form-group">
      <label class="font-weight-bold">Phone Number:</label>
      <input type="phone" class="form-control" placeholder="phone number" [(ngModel)]="phone" name="phone" ngModel required></div>
    <div class="form-group">
       <label class="font-weight-bold">Email</label>
       <input type="text" class="form-control" placeholder="example@gmail.com" [(ngModel)]="email" name="email" ngModel required> </div><br><br>
    <h2>Job Description</h2><br>
    <div class="form-group">
      <label class="font-weight-bold">Job Title</label>
       <input type="text" class="form-control" [(ngModel)]="job" name="job"  ngModel> </div><br><br>

    <div class="form-group">
       <label class="font-weight-bold">Job Location</label>
        <input type="text" class="form-control" [(ngModel)]="location" name="location" ngModel> </div>

    <div class="form-group">
      <label class="font-weight-bold">Address:</label>
       <input type="address" class="form-control" placeholder="street address" [(ngModel)]="jobAds" name="job ads" ngModel> </div>

    <div class="form-group">
      <label class="font-weight-bold">City:</label>
      <input type="city" class="form-control" [(ngModel)]="jobCity" name="job city" ngModel> </div>
    <div class="form-group">
       <label class="font-weight-bold">State:</label>
        <input type="state" class="form-control" [(ngModel)]="jobState" name="job state" ngModel> </div>

    <div class="form-group">
      <label class="font-weight-bold">Zip Code:</label>
       <input type="zipe" class="form-control" [(ngModel)]="jobZipe" name="job zipe" ngModel> </div><br><br>

    <div class="form-group">
      <label class="font-weight-bold">Instalation New Breakers:</label>
      <input type="text" class="form-control" placeholder="Estimated Cost ($)" [(ngModel)]="breakers" name="breakers" ngModel> </div>

    <div class="form-group">
      <label class="font-weight-bold">Architecture</label>
      <input type="city" class="form-control" placeholder="Estimated Cost ($)" [(ngModel)]="architecture" name="architecture" ngModel> </div>
    <div class="form-group">
      <label class="font-weight-bold">Site Planning</label>
      <input type="state" class="form-control" placeholder="Estimated Cost ($)" [(ngModel)]="site" name="site" ngModel>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">New Wiring</label>
      <input type="text" class="form-control" placeholder="Estimated Cost ($)" [(ngModel)]="wiring" name="wiring"  ngModel> </div>

    <div class="form-group">
      <label class="font-weight-bold">Materials</label>
       <input type="text" class="form-control" placeholder="Estimated Cost ($)" [(ngModel)]="materials" name="materials"  ngModel> </div>

    <div class="form-group">
      <label class="font-weight-bold">Installing Service Panel</label>
       <input type="text" class="form-control" placeholder="Estimated Cost ($)" [(ngModel)]="panel" name="panel"  ngModel> </div>

    <div class="form-group">
       <label class="font-weight-bold">Earthwork</label>
        <input type="text" class="form-control" placeholder="Estimated Cost ($)" [(ngModel)]="earthwork" name="earthwork" ngModel>
      </div><br><br>

    <div class="form-group">
       <label class="font-weight-bold">Estimated Cost of the Job</label>
       <input type="text" class="form-control" placeholder="($)" [(ngModel)]="cost" name="cost" ngModel> </div>

    <div class="form-group">
      <label class="font-weight-bold">Total Tax (5%)</label>
       <input type="text" class="form-control" placeholder="($)" [(ngModel)]="tax" name="tax"  ngModel> </div>

    <div class="form-group">
      <label class="font-weight-bold">Total Estimated Cost</label>
      <input type="text" class="form-control" placeholder="($)" [(ngModel)]="total" name="total"  ngModel> </div>

    <div class="form-group">
       <label class="font-weight-bold">Authorized Name</label>
        <input type="text" class="form-control" placeholder="first name" [(ngModel)]="authorizedName"  name="authorizedName"  ngModel><br>
        <input type="text" class="form-control" placeholder="last name" [(ngModel)]="authorizedLastName" name="authorizedLastName" ngModel> </div><br><br>


    <div class="form-group">
       <label class="font-weight-bold">Authorized Signature</label>
       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="signature"  ngModel></textarea> </div><br>

    <button routerLink="/quots"
    routerLinkActive="active"
    (click)="myName(name.value)"
    (click)="myLastName(lastname.value)"

     type="submit"
     class="btn btn-success btn-block">Submit</button>
      <br><br><br>
  </form>
</div>





<!-- contract quots -->



  <div class="container-fluid">
  <div class="jumbotron jumbotron-fluid header">
  <div class="container">
  <h1 class="display-4">Contractor Quote</h1>
  </div>
  </div>

  <div class="container-fluid header-nav">
  <ul>
  <li>Quote ID</li>
  <li style="color: #ADAFBC;">cq20-1230</li>
  <li>Date</li>
  <li style="color: #ADAFBC;">{{date}}</li>
  </ul>
  </div>

  <div class="client-info">
  <h2>Client Information</h2>
  <ul>
  <li class="item">{{firstName}}</li>
  <li class="item">{{lastName}}</li>
  <li class="item">{{ads}}</li>
  <li class="item">{{zipe}}</li>
  <li class="item">{{email}}</li>
  </ul>
  </div>

  <div class="job-description">
  <h2>Job Description</h2>
  </div>

  <div class="row">
  <div class="col-sm-6 left">
  <table style="width: 100%;">
  <tr class="first-row">
  <th>Job Title</th>
  <td class="item">{{job}}</td>
  </tr>
  <tr>
  <th>Installing New Breakers</th>
  <td class="item">{{breakers}}</td>
  </tr>
  <tr>
  <th>Architecture</th>
  <td class="item">{{architecture}}</td>
  </tr>
  <tr>
  <th>Site Planning</th>
  <td class="item">{{site}}</td>
  </tr>
  <tr>
  <th>New Wiring</th>
  <td class="item">{{wiring}}</td>
  </tr>
  <tr>
  <th>Materials</th>
  <td class="item">{{materials}}</td>
  </tr>
  <tr>
  <th>Installing Service Panal</th>
  <td class="item">{{panel}}</td>
  </tr>
  <tr>
  <th>Earthwork</th>
  <td class="item">{{earthwork}}</td>
  </tr>
  </table>
  </div>

  <div class="col-sm-6 right">
  <table style="width: 100%;">
  <tr>
  <th>Job Location</th>
  <td class="item">{{location}},<br> {{jobCity}}, {{jobZipe}}</td>
  </tr>
  <tr>
  <th>Estimated Cost of the Job</th>
  <td class="item">{{cost}}</td>
  </tr>
  <tr>
  <th>Total Tax</th>
  <td class="item">{{tax}}</td>
  </tr>
  <tr style="background-color: #080F44; color: #fff; font-weight: 700; height: 3rem;">
  <th>Total Cost</th>
  <td>{{total}}</td>
  </tr>
  </table>
  </div>
  </div>

  <div class="container row footer">
  <div class="col-sm-6">
  <p>Quote Prepared by</p>
  <p class="item">Mohammad Karimi</p>
  </div>
  <div class="col-sm-6">
  <p>Signature</p>
  <p class="item">Mohammad Karimi</p>
  </div>
    <button class="btn btn-primary"  (click)=" cLick()" > Agreed</button>
  </div>
  </div>



  <router-outlet></router-outlet>

